@using GES.Common.Resources
<div id="milestone-1-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_1.png')">
        @Html.Raw(Resources.Milestone1AchievedStatusExplanation)
    </div>
</div>

<div id="milestone-2-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_2.png')">
        @Html.Raw(Resources.Milestone2AchievedStatusExplanation)
    </div>
</div>

<div id="milestone-3-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_3.png')">
        @Html.Raw(Resources.Milestone3AchievedStatusExplanation)
    </div>
</div>

<div id="milestone-4-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_4.png')">
        @Html.Raw(Resources.Milestone4AchievedStatusExplanation)
    </div>
</div>

<div id="milestone-5-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_5.png')">
        @Html.Raw(Resources.Milestone5AchievedStatusExplanation)
    </div>
</div>