@using GES.Common.Resources
<div id="response-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value excellent response-status" style="background-image: url('/Content/img/icons/response_excellent.png')">@Html.Raw(Resources.ExcellentResponseStatusExplanation)</div>
    <div class="tooltip-hint-content status-value good response-status" style="background-image: url('/Content/img/icons/response_good.png')">@Html.Raw(Resources.GoodResponseStatusExplanation)</div>
    <div class="tooltip-hint-content status-value standard response-status" style="background-image: url('/Content/img/icons/response_standard.png')">@Html.Raw(Resources.StandardResponseStatusExplanation)</div>
    <div class="tooltip-hint-content status-value poor response-status" style="background-image: url('/Content/img/icons/response_poor.png')">@Html.Raw(Resources.PoorResponseStatusExplanation)</div>
    <div class="tooltip-hint-content status-value none response-status" style="background-image: url('/Content/img/icons/response_none.png')">@Html.Raw(Resources.NoneResponseStatusExplanation)</div>
</div>

<div id="progress-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value excellent progress-status" style="background-image: url('/Content/img/icons/progress_excellent.png')">@Html.Raw(Resources.ExcellentProgressStatusExplanation)</div>
    <div class="tooltip-hint-content status-value good progress-status" style="background-image: url('/Content/img/icons/progress_good.png')">@Html.Raw(Resources.GoodProgressStatusExplanation)</div>
    <div class="tooltip-hint-content status-value standard progress-status" style="background-image: url('/Content/img/icons/progress_standard.png')">@Html.Raw(Resources.StandardProgressStatusExplanation)</div>
    <div class="tooltip-hint-content status-value poor progress-status" style="background-image: url('/Content/img/icons/progress_poor.png')">@Html.Raw(Resources.PoorProgressStatusExplanation)</div>
    <div class="tooltip-hint-content status-value none progress-status" style="background-image: url('/Content/img/icons/progress_none.png')">@Html.Raw(Resources.NoneProgressStatusExplanation)</div>
</div>
        
<div id="development-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value development-status development-high" style="background-image: url('/Content/img/icons/development_high.png')">
        @Resources.DevelopmentHighStatusExplanation
    </div>
    <div class="tooltip-hint-content status-value development-status development-medium" style="background-image: url('/Content/img/icons/development_medium.png')">
        @Resources.DevelopmentMediumStatusExplanation
    </div>
    <div class="tooltip-hint-content status-value development-status development-low" style="background-image: url('/Content/img/icons/development_low.png')">
        @Resources.DevelopmentLowStatusExplanation
    </div>
</div>

<div id="milestone-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_1.png')">
        @Html.Raw(Resources.Milestone1AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_2.png')">
        @Html.Raw(Resources.Milestone2AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_3.png')">
        @Html.Raw(Resources.Milestone3AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_4.png')">
        @Html.Raw(Resources.Milestone4AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_5.png')">
        @Html.Raw(Resources.Milestone5AchievedStatusExplanation)
    </div>
    
    <br/>
    <div>
        <p>
            Standardised milestone system launched in March 2016. Previous milestones are listed for case continuity.
        </p>
    </div>
</div>

<div id="milestone-hint" class="normal-hidden">
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_1.png')">
        @Html.Raw(Resources.Milestone1AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_2.png')">
        @Html.Raw(Resources.Milestone2AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_3.png')">
        @Html.Raw(Resources.Milestone3AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_4.png')">
        @Html.Raw(Resources.Milestone4AchievedStatusExplanation)
    </div>
    <div class="tooltip-hint-content status-value milestone-status" style="background-image: url('/Content/img/icons/milestone_5.png')">
        @Html.Raw(Resources.Milestone5AchievedStatusExplanation)
    </div>
</div>

<div id="class-a-hint" class="normal-hidden">
    <div class="tooltip-hint-content tooltip-class-a">
        <i class="fa fa-star class-a-star" aria-hidden="true">&nbsp;</i>
        Content-related communications with the company (case-related questions, meeting notes, agendas) are included. Admin-related issues (introductions, reminders, thank you notes) are not counted. <br/>Data collected since 2015.
    </div>
</div>
<div id="download-event-calendar-hint" class="normal-hidden">
    <div class="tooltip-hint-content tooltip-class-a">
        <i class="fa fa-download" aria-hidden="true">&nbsp;</i>
        Download event calendar
    </div>
</div>
<div id="download-event-calendar-send-mail-hint" class="normal-hidden">
    <div class="tooltip-hint-content tooltip-class-a">
        <i class="fa fa-download" aria-hidden="true">&nbsp;</i>
        Email me event details
    </div>
</div>