@using GES.Common.Resources
        
<div id="scale-extent-harm" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.TheExtentOfHarmExplainationMinor)
    </div>
    <br/>
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.TheExtentOfHarmExplainationMajor)
    </div>
    <br/>
    <div class="tooltip-hint-content" >
        @Resources.TheExtentOfHarmExplainationMore
    </div>
    
</div>

<div id="scale-the-number-of-people-affected" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Resources.TheNumberOfPeopleAffectedExplaination
    </div>
    <br/>
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.TheNumberOfPeopleAffectedExplainationFew)
    </div>
    <br/>
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.TheNumberOfPeopleAffectedExplainationMany)
    </div>
    
</div>

<div id="ongoing-explain" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.OngoingViolationStillOccurring)
    </div>
</div>

<div id="human-rights-policy-publicly-disclosed" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.APubliclyDisclosedHumanRightsPolicyExplaination)
    </div>
</div>
<div id="human-rights-policy-communicated" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.HumanRightsPolicyCommunicatedExplaination)
    </div>
</div>
<div id="human-rights-policy-stipulates" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.HumanRightsPolicyStipulatesExplaination)
    </div>
</div>
<div id="human-rights-policy-approved" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.HumanRightsPolicyApprovedExplaination)
    </div>
</div>
<div id="human-rights-due-diligence-governance-commitment" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.AWrittenCommitmentExplaination)
    </div>
</div>
<div id="human-rights-due-diligence-governance-examples" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.GovernanceExamplesExplaination)
    </div>
</div>
<div id="human-rights-due-diligence-governance-clear-division" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.GovernanceClearDivisionExplaination)
    </div>
</div>
<div id="human-rights-due-diligence-business-partners-human-rights" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.TheCompanyTakesHumanRightsExplaination)
    </div>
</div>
<div id="human-rights-due-diligence-identification-commitment-company-demonstrates" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.IdentificationAndCommitmentTheCompanyDemonstratesExplaination)
    </div>
</div>
<div id="human-rights-due-diligence-stakeholder-engagement-company-demonstrates" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.StakeholderEngagementTheCompanyDemonstratesHowExplaination)
    </div>
</div>
<div id="human-rights-due-diligence-human-rights-training" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.HumanRightsTrainingIsConductedExplaination)
    </div>
</div>
<div id="remediation-adverse-human-rights-impacts-clear-process" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.TheCompanyhasAClearProcessExplaination)
    </div>
</div>
<div id="remediation-adverse-human-rights-impacts-grievance-mechanism" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.GrievanceMechanismExplaination)
    </div>
</div>
<div id="salient-human-rights-potential-piolation-total-score" class="normal-hidden">
    <div class="tooltip-hint-content" style="color: green ">
        @Html.Raw(@Resources.SalientHumanRightsPotentialViolationTotalScoreExplainationLow)
    </div>
    <div class="tooltip-hint-content" style="color: sandybrown">
        @Html.Raw(@Resources.SalientHumanRightsPotentialViolationTotalScoreExplainationMedium)
    </div>
    <div class="tooltip-hint-content" style="color: red">
        @Html.Raw(@Resources.SalientHumanRightsPotentialViolationTotalScoreExplainationHigh)
    </div>
</div>
<div id="total-score-for-human-rights-policy" class="normal-hidden">
    <div class="tooltip-hint-content" style="color: red">
        @Html.Raw(@Resources.TotalScoreForHumanRightsPolicyExplainationLow)
    </div>
    <div class="tooltip-hint-content" style="color: sandybrown">
        @Html.Raw(@Resources.TotalScoreForHumanRightsPolicyExplainationMedium)
    </div>
    <div class="tooltip-hint-content" style="color: green">
        @Html.Raw(@Resources.TotalScoreForHumanRightsPolicyExplainationHigh)
    </div>
</div>

<div id="total-score-for-human-rights-duediligence" class="normal-hidden">
    <div class="tooltip-hint-content" style="color: red">
        @Html.Raw(@Resources.TotalScoreForHumanRightsDueDiligenceExplainationLow)
    </div>
    <div class="tooltip-hint-content" style="color: sandybrown">
        @Html.Raw(@Resources.TotalScoreForHumanRightsDueDiligenceExplainationMedium)
    </div>
    <div class="tooltip-hint-content" style="color: green">
        @Html.Raw(@Resources.TotalScoreForHumanRightsDueDiligenceExplainationHigh)
    </div>
</div>

<div id="total-score-for-remediation-of-adverse-human-rights-impacts" class="normal-hidden">
    <div class="tooltip-hint-content" style="color: red">
        @Html.Raw(@Resources.TotalScoreForRemediationOfAdverseHumanRightsImpactsExplainationLow)
    </div>
    <div class="tooltip-hint-content" style="color: sandybrown">
        @Html.Raw(@Resources.TotalScoreForRemediationOfAdverseHumanRightsImpactsExplainationMedium)
    </div>
    <div class="tooltip-hint-content" style="color: green">
        @Html.Raw(@Resources.TotalScoreForRemediationOfAdverseHumanRightsImpactsExplainationHigh)
    </div>
</div>
<div id="total-score-for-company-preparedness" class="normal-hidden">
    <div class="tooltip-hint-content" style="color: red">
        @Html.Raw(@Resources.TotalScoreForCompanyPreparednessExplainationLow)
    </div>
    <div class="tooltip-hint-content" style="color: sandybrown">
        @Html.Raw(@Resources.TotalScoreForCompanyPreparednessExplainationMedium)
    </div>
    <div class="tooltip-hint-content" style="color: green">
        @Html.Raw(@Resources.TotalScoreForCompanyPreparednessExplainationHigh)
    </div>
</div>

<div id="ges-comment" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.GesCommentAvailableForClients)
    </div>
</div>
<div id="systematic-tip" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.SystematicTooltip)
    </div>
</div>
<div id="ungp-update-button-tip" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.UngpUpdateButton)
    </div>
</div>
<div id="show-in-client-tip" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.ShowInClient)
    </div>
</div>

<div id="case-profile-summary-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.CaseProfileSummaryInstructions)
    </div>
    
</div>
<div id="case-profile-full-description-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.CaseProfileDescriptionInstructions)
    </div>
    
</div>
<div id="case-profile-full-commentary-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        test
    </div>
    
</div>
<div id="case-profile-change-objective-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.CaseProfileChangeObjectiveInstructions)
    </div>
    
</div>
<div id="case-profile-milestones-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.CaseProfileMilestonesDescriptionInstructions)
    </div>
    
</div>
<div id="case-profile-company-dialogue-instructions-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.CaseProfileCompanyDialogueInstructions)
    </div>
    
</div>
<div id="case-profile-source-dialogue-instructions-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.CaseProfileSourceDialogueInstructions)
    </div>
    
</div>
<div id="case-profile-dialogue-analysis-instructions" class="normal-hidden">
    <div class="tooltip-hint-content" >
        @Html.Raw(@Resources.CaseProfileDialogueAnalysisInstructions)
    </div>
    
</div>