@using GES.Common.Resources
<div class="modal fade" id="gescommentary-dialog" style="display: none;">
    <div class="modal-dialog modal-lg" style="width: 665px; height: 700px">
        <div class="modal-content" ng-form="commentaryForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-bold">@Resources.GesCommentary</h4>
            </div>
   
            <div class="modal-body" style="min-height: 0; max-height: 630px; overflow-y: auto" ng-form="commentaryDialogForm">
                <div class="box-body box-edit">        
                    <div class="ges-content-block">
                        <div class="header">
                            <div class="title col-lg-9 col-md-8">
                                <p>@Resources.GesCommentaryDescription</p>
                            </div>
                        </div>
                        <hr class="style10" />
                        <textarea type="text" ng-model="editingCommentary.Description" class="form-control form-control-text" name="description" ng-required="true" style="height:250px"></textarea>
                        
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <input class="btn btn-success" type="button" value="@Resources.Save" data-dismiss="modal" id="btn-commentary-update" ng-disabled="commentaryForm.$invalid" ng-click="saveCommentary(editingCommentary)" />
                <input class="btn btn-success" type="button" style="margin-right:15px" value="@Resources.SaveAndAddnew" id="btn-submit-addnew-commentary" ng-click="saveCommentary(editingCommentary,true)" ng-disabled="commentaryForm.$invalid" />
                <span ng-if="editingCommentary.I_GesCommentary_Id !== 0">
                    <input class="btn btn-danger" type="button" value="@Resources.Delete" id="btn-delete-kpi" ng-click="deleteCommentary(editingCommentary)" />
                </span>
                <input type="button" class="btn btn-default" style="margin-left:5px" data-dismiss="modal" value="@Resources.Cancel" ng-click="cancelCommentary()" />
            </div>
        </div>
    </div>
</div>