@using GES.Common.Resources
@model GES.Clients.Web.Models.GesUserPasswordViewModel
<div class="tab-pane" id="changePassword">
    @using (Ajax.BeginForm("ChangePassword", "Account", FormMethod.Post,
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            OnBegin = "$('.btn-submit-change-password').button('loading')",
                            OnComplete = "resetChangePasswordBtn()"
                            //OnSuccess = "showSuccessChangePassword(data,status,xhr)"
                        }
                        , new { @class = "form-horizontal", role = "form", @id = "form-general-info" }
                        ))
    {
        @Html.AntiForgeryToken()
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @id = "old-password", @type = "password" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @id = "new-password", @type = "password" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirm-password", @type = "password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-primary-new-dark btn-submit-change-password" id="btn-submit" type="submit">@Resources.Update</button>
            </div>
        </div>

    }
</div>