@using GES.Clients.Web.Extensions
@using GES.Common.Resources
@using GES.Inside.Data.Models
@using GES.Common.Enumeration
@model GES.Inside.Data.Models.CaseProfiles.FullAttributeCaseProfileBaseComponent
@{
    var caseProfileInvisibleEntities = ViewBag.CaseProfileInvisibleEntities as IList<GesCaseProfileTemplatesViewModel>;

    var gesCaseReportType = (GesCaseReportType)ViewBag.CaseProfileType;
    var isStCase = gesCaseReportType == GesCaseReportType.StAlert || gesCaseReportType == GesCaseReportType.StandardAlertAndIndication || gesCaseReportType == GesCaseReportType.StArchived || gesCaseReportType == GesCaseReportType.StConfirmed || gesCaseReportType == GesCaseReportType.StIndicationOfViolation || gesCaseReportType == GesCaseReportType.StResolved;
}
@if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "COMPANY-INFO") || isStCase)
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-info-circle" aria-hidden="true"></i> @Resources.CompanyInfo</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <dl class="dl-horizontal">
                @if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "COMPANY-INFORMATION-COMPANY") || isStCase)
                {
                    <dt>@Html.DisplayNameFor(m => m.CompanyName)</dt>
                    <dd>@Html.ActionLink(Model.CompanyName, "Profile", new { id = Model.CompanyId })</dd>
                }
                @if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "COMPANY-INFORMATION-ISIN") || isStCase)
                {
                    @Html.RenderProperty(m => m.CompanyIsin)
                }
                @if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "COMPANY-INFORMATION-INDUSTRY") || isStCase)
                {
                    @Html.RenderProperty(m => m.CompanyIndustry)
                }
                @if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "COMPANY-INFORMATION-HOME-COUNTRY") || isStCase)
                {
                    @Html.RenderProperty(m => m.CompanyHomeCountry)
                }
                @if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "COMPANY-INFORMATION-GRI") && !isStCase)
                {
                    <dt>@Html.DisplayNameFor(m => m.Gri)</dt>
                    <dd>@(Model.Gri ? Resources.Yes : Resources.No)</dd>
                }
                @if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "COMPANY-INFORMATION-UN-GLOBAL-COMPACT") && !isStCase)
                {
                    <dt>@Html.DisplayNameFor(m => m.GlobalCompactMember)</dt>
                    <dd>@(Model.GlobalCompactMember ? Resources.Yes : Resources.No)</dd>
                }
            </dl>
        </div>
        <!-- /.box-body -->
    </div>
}