@using GES.Clients.Web.Extensions
@using GES.Common.Resources
@model GES.Inside.Data.Models.CaseProfiles.CaseProfileIncidentAnalysisComponent
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@Resources.OpeningIncidentAnalysis</h3>
    </div>
    <div class="box-body">
        @Html.RenderBlockContent(m => m.IncidentAnalysisSummary)
        @Html.RenderBlockContent(m => m.IncidentAnalysisDialogueAndAnalysis)
        @Html.RenderBlockContent(m => m.IncidentAnalysisConclusion)
        @Html.RenderBlockContent(m => m.IncidentAnalysisGuidelines)
        @Html.RenderBlockContent(m => m.IncidentAnalysisSources)
    </div>
</div>
