@model GES.Inside.Data.Models.CaseProfiles.CaseProfileStatisticViewModel
@using GES.Common.Enumeration
@using GES.Common.Resources
@using GES.Inside.Data.Models
@{
    var caseProfileInvisibleEntities = ViewBag.CaseProfileInvisibleEntities as IList<GesCaseProfileTemplatesViewModel>;
    var gesCaseReportType = (GesCaseReportType)ViewBag.CaseProfileType;
}
@if (!caseProfileInvisibleEntities.Any(x => x.EntityCodeType == "CLIENT-STATISTICS"))
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-bar-chart" aria-hidden="true"></i> @Resources.Statistics
            </h3>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                @if (gesCaseReportType != GesCaseReportType.SrEmeEngage && gesCaseReportType != GesCaseReportType.SrEmeArchived)
                {
                    <dt>@Html.DisplayNameFor(m => m.Contacts)</dt>
                    <dd>@Model.Contacts</dd>

                    <dt>
                        <i class="fa fa-star class-a-star tooltip-hint" aria-hidden="true" data-tooltip-content="class-a-hint"></i>

                        @Html.DisplayNameFor(m => m.CorrespondenceCount)
                    </dt>
                    <dd>@Model.CorrespondenceCount</dd>
                }

                <dt>@Html.DisplayNameFor(m => m.ConferenceCount)</dt>
                <dd>@Model.ConferenceCount</dd>

                <dt>
                    @Html.DisplayNameFor(m => m.MeetingCount)
                </dt>
                <dd>@Model.MeetingCount</dd>

                @if (!string.IsNullOrEmpty(Model.LatestMeeting))
                {
                    <dt>
                        @Html.DisplayNameFor(m => m.LatestMeeting)
                    </dt>
                    <dd>@Model.LatestMeeting</dd>
                }
            </dl>
        </div>
    </div>
}