@using GES.Clients.Web.Helpers
@using GES.Common.Resources
@model GES.Clients.Web.Models.ModalPopupViewModel

<div class="modal fade" id="@CommonHelper.ConvertNameToHtmlElementId(Model.ModalTitle)" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-bold">@Model.ModalTitle</h4>
            </div>
            <br />
            <div class="modal-body" style="min-height:0px; max-height:500px;overflow-y:auto">
                @if (Model.DateContentPairs != null && Model.DateContentPairs.Count > 0)
                {
                    foreach (var pair in Model.DateContentPairs)
                    {
                        <div class="row">
                            <div class="col-md-3"><i class="fa fa-calendar" aria-hidden="true"></i> @Html.Raw(pair.Key)</div>
                            <div class="col-md-9 pre-line-white-space">@Html.Raw(pair.Value)</div>
                        </div>
                        if (Model.DateContentPairs.IndexOf(pair) < Model.DateContentPairs.Count - 1)
                        {
                            <hr class="style10" />
                        }
                    }
                }
                else
                {
                    @Html.Raw(Resources.NoItemsInArchive);
                }
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@Resources.Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
