@using GES.Common.Resources
@{
    var avatarImg = "/Content/img/user-avatar-160x160.jpg";
    var displayName = Session["FirstName"] != null && Session["LastName"] != null
        && (!string.IsNullOrEmpty(Session["FirstName"].ToString()) || !string.IsNullOrEmpty(Session["LastName"].ToString())) ?
        string.Format("{0} {1}", Session["FirstName"], Session["LastName"]) :
        HttpContext.Current.User.Identity.Name;
}
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/Content/img/logo.png" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/Content/img/logo.png" /> Engagement Forum
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">@Resources.ToggleNavigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="@avatarImg" class="user-image" alt="User Image">*@
                        <i class="fa fa-user"></i>
                        <span class="hidden-xs">@displayName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        @*<li class="user-header">
                            <img src="@avatarImg" class="img-circle" alt="User Image">
                            <p>
                                @System.Web.HttpContext.Current.User.Identity.Name
                                <small></small>
                            </p>
                        </li>*@
                        <!-- Menu Body -->
                        @*<li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </li>*@
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            @*<div class="pull-left">
                                <a href="@Url.Action("UserProfile", "Account")" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logout", "Authentication")" class="btn btn-default btn-flat">Sign out</a>
                            </div>*@
                            <a href="@Url.Action("UserProfile", "Account")" class="btn btn-default btn-flat">@Resources.Profile</a>
                            <hr />
                            <a href="@Url.Action("Logout", "Authentication")" class="btn btn-default btn-flat">@Resources.SignOut</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>