@model GES.Inside.Web.Models.CreateControActivPresetViewModel
@{
    var title = Model.PresetId > 0 ? "Edit ControActiv Preset" : "New ControActiv Preset";
    var submitBtnText = Model.PresetId > 0 ? "Save" : "Create";
}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">@title</h3>
            </div>

            <div>
                @using (Ajax.BeginForm("CreateControActivPreset", "Portfolio", FormMethod.Post,
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        OnBegin = "$('.btn-create-edit-preset').button('loading')",
                        OnComplete = "resetNewControActivPresetButton()"
                        //UpdateTargetId = "table"
                    }))
                {

                    @Html.AntiForgeryToken()

                    <div class="modal-body">
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <div class="editor-label control-label">
                                @Html.LabelFor(m => m.PresetName):
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.PresetName, new {@class = "form-control", @id = "new-preset-name", @placeholder = "Preset name..."})
                            </div>
                            <div>
                                @Html.HiddenFor(d=>d.ControvSettings, new {@class="hiden-controversial-settings"})
                                @Html.HiddenFor(d=>d.PresetId, new {@class="hiden-controversial-id"})
                            </div>
                        </div>

                        <table id="tblcontroactivpresetsdetail" class="table table-bordered table-striped"></table>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-create-edit-preset" id="save" data-loading-text="Processing..." type="submit">@submitBtnText</button>
                    </div>
                }

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->